---

const {title} = Astro.props
---

<h1 class="text-center text-gray-100 text-3xl p-5 font-bold header bg-gradient-to-br from-gray-900 to-gray-700">
    {
        title
    }
</h1>

<style>
    
</style>