---
import Resultado from "./Resultado.astro";
import type { Modulo } from "@interfaces/courseInfo.interface";

interface Props {
    props: Modulo;
}

const { props } = Astro.props;
---

<div class="bg-zinc-300 p-4 border-5 border-gray-800 rounded-3xl">
    <h3 class="text-xl text-center font-bold h-30">{props.titulo}</h3>
    <div>
        <h4 class="text-ls text-center p-2 font-bold">Objetivo</h4>
        <div class=" pb-3">
            <p class="text-sm ">
                {props.objetivo}
            </p>
        </div>
        <h4 class="font-bold">Duración</h4>
        <span class="">{props.duracion} Horas</span>
        {props.resultados.map((resultado) => <Resultado props={resultado} />)}
    </div>
</div>
