---


const {subtitle} = Astro.props

---

<div class="flex flex-col max-w-7xl gap-4 ">
    <h2 class="text-black  text-3xl font-bold">{subtitle}</h2>
    <p class="">
        <ul>
            <li class=" list-disc text-xl"><slot/></li>
        </ul>
    </p>
</div>

